
#taskNameHead,#taskPaiortyHead{
    cursor: pointer;

}
.linkColor{
    color: rgb(130, 130, 253);
}
.linkColor:hover{
    color: rgb(0, 0, 82);

}
.currentStatus{
    cursor: pointer;
}
.statusDone{
    background-color: red;
    color: green!important;
}
.statusNotDone{
    color:red;
}